<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">

    <title>Philippian Marketing Corporation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <!-- FONT -->
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap" rel="stylesheet">

    <!-- About Us Font -->
    
    

</head>
<body>
    <main class="h-screen w-full"> 
        <div id="header_top" class="w-full h-6">
            <div class="w-full h-6 bg-white opacity-70 flex justify" >
                <div class="container mx-40 flex justify-normal space-x-10">
                    <div class="topcontent"><box-icon name='phone'></box-icon> +639234445555</div>
                    <div class="topcontent"><box-icon name='envelope' ></box-icon>sampleemail23@gmail.com</div>
                    <div class="topcontent"><box-icon name='facebook-circle' type='logo' ></box-icon>www.samplefacebook.com</div>
                </div>
            </div>
        </div>
        <div id="navbar" class="w-full  bg-black" >
            <div class=" absolute z-0 top-6 flex justify-around w-full h-20">
                <div class="logo">
                    <a href="" > <img src="/img/pmc_logo.png" alt="pmc_logo"> </a>
                </div>
                <div class="navmenu flex justify-around">
                    <li ><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Team</a></li>
                    <li><a href="">News and Announcements</a></li> 
                    <li><a href="">Careers</a></li>
                    <li><a href="">Contact Us</a></li>
                </div>
            </div>
        </div>
        <div class="absolute z-0 cap">
            <div class="cap-content"><p class="caption-header">Caption Here</p></div>
            <div class="cap-content"><p class="caption-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p></div>
            <div style="margin-top:2%" class="cap-content">
            <button class="border-2 rounded-full text-white font-medium p-1 px-5" >More Info</button></div>
        </div>
    </main>
    <div id="about" class="bg about relative h-screen w-full">
        <div class="absolute top-16 grid gap-y-2 w-1/4">
            <div class="w-11/12 h-8 bg-red-950" ></div>
            <div class="w-40 h-5 bg-red-950" ></div>
            <div class="w-56 h-2 bg-red-950" ></div>
        </div>
        <div class="absolute bottom-16 right-0 grid  w-1/4 ">
            <div class="absolute right-0 bottom-20 w-56 h-5 bg-red-950" ></div>
            <div class="absolute right-0 bottom-10 w-11/12 h-8 bg-red-950" ></div>
            <div class="absolute right-0 bottom-6 w-56 h-2 bg-red-950" ></div>
        </div>
        <div class="grid grid-cols-2 gap-x-9 justify-evenly content-center h-screen">
            <div class="about_carousel justify-self-end w-3/4 bg-black">
                <img src="" alt="picture"> 
            </div>
            <div class="justify-self-right w-2/3 bg-slate-400 ">
                <div class="p-1 ">
                    <link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap" rel="stylesheet">
                    <h1 class=" text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-b from-black to-red-700 " style="font-family: 'Abhaya Libre', serif;">About Us</h1>
                </div>
                <div class="p-2">
                    <p class="poppins text-1xl font-normal text-justify indent-16">But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                </div>
                <div class="pt-10">
                    <button class="border-2 border-black rounded-full text-black font-medium px-5">Read more</button></div>
                </div>
            </div>
        </div>      
    </div>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Adamina&display=swap" rel="stylesheet">
    <div id=about class="bg w-full h-screen adamina">
        <h1 class="h-1/5 flex justify-center items-center text-5xl text-center font-extrabold text-transparent bg-clip-text bg-gradient-to-b from-black to-red-700" style="font-family: 'Abhaya Libre', serif;">Our Services</h1>
        <div class="flex  justify-center items-center w-full h-3/5 ">
            <div class="flex h-full w-3/4  space-x-5 ">
                <div class="h-full w-full rounded shadow-md shadow-slate-400 bg-white p-5">
                    <div class="h-2/4  "><img src="img/services1.png" alt="image" class="w-full h-full rounded-lg "></div>
                    <div class="service_title text-lg flex items-center justify-center">Service title</div>
                    <div class="service_content text-xs flex items-center text-center">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                </div>
                <div class="h-full w-full rounded shadow-md shadow-slate-400 bg-white p-5">
                    <div class="h-2/4"><img src="img/services2.png" alt="image" class="w-full h-full rounded-lg "></div>
                    <div class="service_title text-lg flex items-center justify-center">Service title</div>
                    <div class="service_content text-xs flex items-center text-center">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                </div>
                <div class="h-full w-full rounded shadow-md shadow-slate-400 bg-white p-5">
                    <div class="h-2/4"><img src="img/services3.png" alt="image" class="w-full h-full rounded-lg "></div>
                    <div class="service_title text-lg flex items-center justify-center">Service title</div>
                    <div class="service_content text-xs flex items-center text-center">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center w-full h-1/5">
            <div class="h-full w-3/4 flex items-center">
                <p class="text-sm text-center">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
    <div id="team" class="bg w-full h-screen adamina">
        <h1 class="h-1/5 flex justify-center items-center text-5xl text-center font-extrabold text-transparent bg-clip-text bg-gradient-to-b from-black to-red-700" style="font-family: 'Abhaya Libre', serif;">Meet the Team</h1>
        <h2 class="flex justify-center items-center text-1xl text-center font-extrabold">The Management</h2>
        <div class="flex justify-center items-center w-full h-3/5 ">
            <div class="h-full w-4/6 flex space-x-16 ">
                <div class="h-full w-full rounded shadow-md shadow-slate-400 bg-white p-5">
                    <div class="h-4/5 w-full"><img src="img/team/JVS.png" alt="image" class=" h-full w-full object-cover rounded-lg "></div>
                    <div class="poppins text-lg font-semibold flex items-center justify-center ">Sir JVS</div>
                    <div class="poppins text-xs flex items-center text-center">Chief Marketing Officer Chief Finance Officer</div>
                </div>
                <div class="h-full w-full rounded shadow-md shadow-slate-400 bg-white p-5">
                    <div class="h-4/5 w-full"><img src="img/team/PTS.png" alt="image" class=" h-full w-full object-cover rounded-lg "></div>
                    <div class="poppins text-lg font-semibold flex items-center justify-center ">Sir PTS</div>
                    <div class="poppins text-xs flex items-center justify-center">Chief Executive Officer</div>
                </div>
                <div class="h-full w-full rounded shadow-md shadow-slate-400 bg-white p-5">
                    <div class="h-4/5 w-full"><img src="img/team/JSS.png" alt="image" class=" h-full w-full object-cover rounded-lg "></div>
                    <div class="poppins text-lg font-semibold flex items-center justify-center ">Ma'am JSS</div>
                    <div class="poppins text-xs flex items-center justify-center">Chief Operation Officer</div>
                </div>
            </div>
        </div>
    </div>
    <div id="officers" class="bg w-full h-screen adamina">
        <h2 class="h-1/5 flex justify-center items-center text-1xl text-center font-extrabold">Meet the key Officers</h2>
        
    </div>
</body>
</html>