.header_top{
    /* position: absolute; */
    height: 5vh;
    width: 100%;
    background-color: rgb(204, 204, 204,.8);
    
}
.header_bottom{
    position: absolute;
    height: 11vh;
    width: 100%;
    top: 15px;
    /* position: fixed; */
    /* position: sticky; */
    /* top: 0; */
    background-color: rgba(0, 0, 0, 0.7);
}
.bod{
    /* background: url(/img/home.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}
.cover{
    background-color: rgba(0, 0, 0, 0.7);
    height: 95vh;
}
/* font */
.bebas{
    font-family: 'Bebas Neue', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.abhaya{
    font-family: 'Abhaya Libre', serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}